.App {
  text-align: center;
  height: 100vh;
}

.logo {
  padding-left: 1%;
  height: 1em;
}

.header {
  padding-top: 2%;
}

.notes {
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.note {
  width: 15em;
  height: 10em;
  overflow: hidden;
  padding: 1%;
  margin: 1%;
}

.edit-icon {
  display: flex;
  float: right;
  margin-left: auto;
}
.note-title {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 12%;
}

.add-icon {
  margin-bottom: 2%;
}

.add-note {
  width: 100%;
}

.input {
  margin: 2% 0 2% 0;
}

.save-button {
  width: 5em;
}
.delete-button {
  width: 5em;
  margin-right: 2%;
}