.App {
  text-align: center;
  height: 100vh;
}

.logo {
  padding-left: 1%;
  height: 1em;
}

.header {
  padding-top: 2%;
}

.notes {
  margin: 5%;
}
.note {
  width: 15em;
  height: 10em;
  overflow: hidden;
  padding: 1%;
}

.edit-icon {
  display: flex;
  float: right;
  margin-left: auto;
}
.note-title {
  margin-top: 2%;
  margin-bottom: 2%;
}
